@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&display=swap");
:root {
  --box-shadow: 0 0 6px 1px #999a9b;
}

body {
  font-family: "Signika", sans-serif;
  color: #071923;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  background-color: #aabba4;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#configurator {
  display: grid;
  grid-template-columns: 65vw 25vw;
  grid-template-areas:
    "preview options"
    "colors features";
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

#preview {
  grid-area: preview;
  position: relative;
}

#preview img {
  position: absolute;
  pointer-events: none;
  z-index: 15;
  width: 80%;
  left: 0;
  right: 0;
  margin: 3.5rem auto;
}

#preview svg {
  position: absolute;
  width: 80%;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: 3.5rem auto;
}

#preview g {
  pointer-events: all;
}

.addColor {
  fill: transparent;
  cursor: pointer;
}

path {
  stroke-width: 3;
}

#preview .hide {
  opacity: 0;
}

#options {
  grid-area: options;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#options .option {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 3.3rem;
  padding-right: 0.5rem;
  margin-right: auto;
}

#options .option.chosen {
  color: #b6cfc1;
}

#options .option:hover {
  color: #74887d;
  cursor: pointer;
}

#options .option img {
  width: 3rem;
}

#options .option figcaption {
  font-size: 19px;
}

#selected {
  grid-area: features;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

#selected ul li {
  display: inline-block;
  margin-right: 1rem;
}

#selected ul li img {
  width: 3rem;
}

#colors {
  grid-area: colors;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  padding-bottom: 0;
}

#colors svg {
  margin-top: 0.5rem;
}

.color-button {
  cursor: pointer;
}

.color-button:hover {
  opacity: 0.5;
}

.animateIn {
  animation: moveFeatures 1s ease-in 1;
}

.animateOut {
  animation: moveFeatures 1s ease-out reverse 1;
}

@keyframes moveFeatures {
  0% {
    transform: translate(calc(var(--xdiff) * 1px), calc(var(--ydiff) * 1px));
  }

  100% {
    transform: translate(0, 0);
  }
}

.center {
  top: 27%;
  left: 20%;
  transform: scale(1.2);
}

.putSofaBack {
  animation: sofaBack 1.5s ease-out 1;
}

@keyframes sofaBack {
  0% {
    top: 27%;
    left: 20%;
    transform: scale(1.2);
  }
  100% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
}

footer p {
  color: #a6afaa;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Remove scrollbar starts */

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Remove scrollbar ends */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  #configurator {
    display: flex;
    flex-direction: column;
  }

  #colors {
    margin-top: 50%;
  }

  .center {
    top: 25vh;
    left: 0;
    transform: scale(1);
  }

  @keyframes sofaBack {
    0% {
      top: 25vh;
    }

    100% {
      top: 0;
    }
  }
}
